# -----------------------------
# macOS system files
# -----------------------------
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# -----------------------------
# VSCode
# -----------------------------
.vscode/
*.code-workspace

# -----------------------------
# Build folders
# -----------------------------
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
*.cmake
*.ninja
*.o
*.obj
*.so
*.dylib
*.dll
*.exe

# -----------------------------
# Qt / C++ temp files
# -----------------------------
*.moc
*.qrc
*.ui.h
*.qrc.cpp
*.autosave
*.user
*.user.*.pro.user
*.pro.user
*.pro.user.*
*.qbs.user
*.pro.user.*
*.qmlc
*.jsc

# -----------------------------
# Logs / Misc
# -----------------------------
*.log
*.tmp
*.swp
*~
